---
title: Boston Software Designer, Eric Benoit
description: Eric Benoit is a Boston Software Designer trusted by CTO's, VP's, and Founders from Startups to Fortune 500 companies to take their vision and design it into an amazing product.
keywords: boston ui designer, boston ux designer, user interface designer, user experience designer, product designer, software designer
---

<h1>Howdy, I'm Eric Benoit, a Creative Director at <%= link_to 'Involution Studios', 'http://www.goinvo.com' %>, a software design studio in <%= link_to 'Arlington, Massachusetts', 'https://www.google.com/maps/place/661+Massachusetts+Ave/@42.4159556,-71.1542426,17z/data=!3m1!4b1!4m2!3m1!1s0x89e376507914ce3b:0xd3401d7136ceb9f3' %>.</h1>

<h2>Making</h2>

<p>I design delightful experiences for large-scale, complex, enterprise software that are destined to ship, and with a positive impact on Planet Earth.</p>

<p>I enjoy designing software for emerging technologies, working with the combination of hardware + software, and leading products into production, where I have seen the design make leaps and bounds.

</p>

<p>When designing, I collaborate with:</p>

<ul>
	<li>C-levels; to guide their vision into an experience while understanding the industry, business, and product.</li>
	<li>Customers; to understand how people do, will, and should use the product for a beautiful experience.</li>
	<li>Engineers; to understand the technology, its capabilities, limitations, and logic.</li>
</ul>

<!-- <p>The products I have designed have made big business impact:</p>
<ul>
	<li>Company Acquisition ($150M)</li>
	<li>Investment from Venture Capital ($20M+)</li>
	<li>Convert customers into apostle’s of a product</li>
	<li>Labor savings ($1M+)</li>
</ul> -->

<p>Often I work in the health space, designing software for:</p>

<ul>
	<li>Electrocardiography (<%= link_to 'Patent US8620418 B1', 'https://www.google.com/patents/US8620418' %>)</li>
	<li>Electronic Consent</li>
	<li>Genetic Testing</li>
	<li>Hospital Coding</li>
	<li>In Vitro Fertilization</li>
	<li>Patient Health Records</li>
	<li>Remote Physician Consultation</li>
</ul>

<p>In my spare time I tinker with micro-controllers like <%= link_to 'Arduino', 'http://arduino.cc/' %> to build personal projects, one being <%= link_to 'Fitsor', 'http://www.fitsor.com' %>, a suite of exercise tracking devices.</p>

<h2>Learning</h2>

<p>I’m working on growing my engineering skills. Specifically, JavaScript and Ruby on Rails so I can develop software from the front-end to the back-end. I'm currently taking the <%= link_to 'Back-End Web Development', 'https://generalassemb.ly/education/back-end-web-development' %> course at <%= link_to 'General Assembly', 'https://generalassemb.ly' %>.</p>

<h2>Connecting</h2>
<ul>
	<li><%= link_to 'Github @ericbenwa', 'http://github.com/ericbenwa' %></li>
	<li><%= mail_to 'hellostranger@ebenoit.com' %></li>
	<li><%= link_to 'LinkedIn', 'http://www.linkedin.com/in/ericjbenoit' %></li>
	<li><%= link_to 'Resume', 'files/Eric-Benoit-Designer-Resume.pdf' %></li>
	<li><%= link_to 'Twitter @ebenoit', 'http://www.twitter.com/ebenoit' %></li>
</ul>