---
title: Eric Benoit, Boston Product Designer
description: Eric Benoit is a Boston Product Designer trusted by CTO's, VP's, and Founders from Startups to Fortune 500 companies to guide their vision and design elegant products.
keywords: eric benoit, boston ui designer, boston ux designer, user interface designer, user experience designer, product designer, software designer, ui designer, ux designer
---

<h1>Eric Benoit</h1>
<h2>Creative Director</h2>
<p>At <%= link_to 'Involution Studios', 'http://www.goinvo.com/' %>, I help companies make their products best-in-class through design.</p>

<%= image_tag 'images/eric-benoit-ux-designer.jpg', :alt =>'Eric Benoit Boston Product Designer' %>

<p>The following examples are a glimpse into the holistic view I take on product design.</p>

<h1>Learn</h1>
<h2>The Domain</h2>
<p>I routinely work in domains of which I am not an expert but must quickly get up to speed. It’s important that I ground myself in the history of the domain, players in the field, lingo, and its future. In addition to traditional methods of learning, I connect with industry experts for 1-on-1 lessons.</p>

<%= image_tag 'images/rma-ny-clinic-ivf-training.jpg', :alt =>'Visiting an IVF Clinic', :class => 'caption' %>
<p class="caption">To better understand In Vitro Fertilization (IVF), I made an appointment with the a clinic as a parent wanting to have a child through IVF.</p>

<h2>The Problem Space</h2>
<p>Throughout a project, I use a variety of methods to explore, understand, and codify complex problems.</p>

<h3>Product Architecture</h3>
<p>A group exercise with key stakeholders for documenting the full set of functionality for a product. This helps the group understand and rally around a set of functionality. Arguments to be expected.</p>

<%= image_tag 'images/affinnova_prod_architecture.png', :alt =>'Product Architecture', :class => 'caption' %>
<p class="caption">Group exercise shown below gets codified into this document. (<%= link_to 'Download full size', 'https://www.dropbox.com/s/zxzucpwwo154hu2/affinnova_prod_arch.pdf?dl=0' %>)</p>

<%= image_tag 'images/affinnova_prodarch_stickies_table.jpg', :alt =>'Product Architecture Exercise', :class => 'caption' %>
<p class="caption">Leading a product architecture exercise. (<%= link_to 'Download full size', 'images/affinnova_prodarch_stickies_table.jpg' %>)</p>

<h3>Process Map</h3>
<p>By mapping out all parts of the process, even for the parts not being designed, one gets to understand the entire lifecycle of how a person uses the service.</p>

<%= image_tag 'images/mountsinai_caas_process_v03.png', :alt =>'Mount Sinai Process Map', :class => 'caption' %>
<p class="caption">Process for managing informed consent forms through a self-service model. (<%= link_to 'Download full size', 'https://www.dropbox.com/s/6w2zea84muw3tbb/mountsinai_caas_process_v03.pdf?dl=0' %>)</p>

<h3>System Model</h3>
<p>Architecting the main components of the service, relationships, and actions.</p>

<%= image_tag 'images/mountsinai_caas_systemmodel_v01.png', :alt =>'Mount Sinai System Model', :class => 'caption' %>
<p class="caption">Connecting the dots for how informed consent forms will be authored, delivered, and used. (<%= link_to 'Download full size', 'https://www.dropbox.com/s/b95flnb8ssxxtav/mountsinai_caas_systemmodel_v01.pdf?dl=0' %>)</p>

<h3>Customer Research</h3>
<p>From understanding customer needs to vetting designs.</p>

<%= image_tag 'images/eric-benoit-customer-testing.jpg', :alt =>'Customer Feedback Session', :class => 'caption' %>
<p class="caption">Leading a feedback session on the latest mobile prototype. (<%= link_to 'Download full size', 'images/eric-benoit-customer-testing.jpg' %>)</p>

<p class="quote"><em>"Excellent session. You made it clear where we are, what the holes are, and where some kinks still need to get worked out. Thanks for leading."</em> <br /><span>George Moon, VP of Product, CodeRyte Inc. (acquired by 3M)</span></p>

<h1>Design</h1>
<p>I've led and designed products from birth to launch. I provide vision, strategy, and design for the products companies are betting their success on.</p>

<h3>Sketches</h3>

<%= image_tag 'images/eric-benoit-wall-of-sketches.jpg', :alt =>'200+ sketches for a single project', :class => 'caption' %>
<p class="caption">One project, ~9 months, 200+ sketches. (<%= link_to 'Download full size', 'images/eric-benoit-wall-of-sketches.jpg' %>)</p>

<%= image_tag 'images/nlp-engine-codes-sketch.png', :alt =>'Hospital coder workflow for NLP suggested codes', :class => 'caption' %>
<p class="caption">Workflow for hospital coders to review ICD-9/10 codes suggested by the Natural Language Processing (NLP) engine. (<%= link_to 'Download full size', 'images/nlp-engine-codes-sketch.png' %>)</p>

<%= image_tag 'images/IMG_3474.jpg', :alt =>'Sketching out a few concepts', :class => 'caption' %>
<p class="caption">Concepts for visualizing the health of a company's product portfolio. (<%= link_to 'Download full size', 'images/IMG_3474.jpg' %>)</p>

<h3>Design In Progress</h3>

<%= image_tag 'images/artboard-ideas.png', :alt =>'.', :class => 'caption' %>
<p class="caption">A working document with a compilation of ideas. (<%= link_to 'Download full size', 'images/artboard-ideas.png' %>)</p>

<h3>Workflows</h3>

<%= image_tag 'images/dynamic-care-curriculum-framework-v02.jpg', :alt =>'Rough intervention framework', :class => 'caption' %>
<p class="caption">A walkthrough of how a careplan could be delivered and evolve based on patient status. (<%= link_to 'Download full size', 'images/dynamic-care-curriculum-framework-v02.jpg' %>)</p>

<%= image_tag 'images/rule-sets-ui.png', :alt =>'Rules workflow', :class => 'caption' %>
<p class="caption">Step by step walkthrough of setting up rules for content matching. (<%= link_to 'Download full size', 'images/affinnova_conceptstudio.pdf' %>)</p>

<h3>Hi-fidelity Comps</h3>

<%= image_tag 'images/ipad-patient-dashboard.png', :alt =>'Patient arrhythmia history', :class => 'caption' %>
<p class="caption">Clinician reviewing a patient's arrhythmia history. (<%= link_to 'Download full size', 'images/ipad-patient-dashboard.png' %>)</p>

<%= image_tag 'images/all-patients-dashboard.png', :alt =>'Visualizing all patients heart health', :class => 'caption' %>
<p class="caption">Clinician dashboard for understanding the health of all patients with a quick scan. (<%= link_to 'Download full size', 'images/all-patients-dashboard.png' %>)</p>

<%= image_tag 'images/hgraph-labs-ipad.png', :alt =>'hGraph Labs view', :class => 'caption' %>
<p class="caption">Visualizing the Labs portion of a patient's health record. (<%= link_to 'Download full size', 'images/hgraph-labs-ipad.png' %>)</p>

<%= image_tag 'images/conversational-ui.png', :alt =>'Conversational UI for healthcare professionals', :class => 'caption' %>
<p class="caption">A conversational UI for healthcare professionals to manage patients living with mental health conditions. (<%= link_to 'Download full size', 'images/conversational-ui.png' %>)</p>

<p class="quote"><em>"I look forward to working together again. I am very impressed by your talent and demeanor. All of us at Affinnova agree that we would be in big trouble without your contributions."</em> <br /><span>Steve Lamoureux, SVP Product Innovation, Affinnova (acquired by Nielsen)</span></p>

<h1>Build</h1>

<h3>Prototypes</h3>
<p>Ranging from basic clickthroughs to something more dynamic like connecting to a service, a prototype is a requirement for designing any product. I've used the various prototyping tools like InVision, Flinto, Framer Studio, and plain ol' HTML/CSS/JS, depending on the goal of the prototype.
</p>

<%= image_tag 'images/IMG_6859.jpg', :alt =>'Mobile prototype using HTML/CSS/JS', :class => 'caption' %>
<p class="caption">A mobile prototype using HTML/CSS/JS. I lightly contributed to the code for this example. (<%= link_to 'Download full size', 'images/IMG_6859.jpg' %>)</p>

<h3>Mock Data</h3>
<p>Writing mock data helps communicate with engineering by clearly documenting the expected data, scalability, and nomenclature.</p>

<%= image_tag 'images/mock-data.png', :alt =>'Mocking JSON data.', :class => 'caption' %>
<p class="caption">Mocking up expected data to populate the software. (<%= link_to 'Download full size', 'images/mock-data.png' %>)</p>

<h3>Implementation Analysis</h3>
<p>Details an estimated effort to build a design and how it should be released based on dependencies and priorities.</p>

<%= image_tag 'images/IMG_4231.jpg', :alt =>'Assessing the effort, scope, and releases.', :class => 'caption' %>
<p class="caption">Before: Drafting a plan for the front-end development to then collaborate with the client for filling in any gaps like the back-end engineering for a complete picture. (<%= link_to 'Download full size', 'images/IMG_4231.jpg' %>)</p>

<%= image_tag 'images/implementation-schedule.png', :alt =>'Assessing the effort, scope, and releases.', :class => 'caption' %>
<p class="caption">After: Details level of effort, resources required, duration, and release schedule. (<%= link_to 'Download full size', 'images/implementation-schedule.png' %>)</p>

<h1>Communicate</h1>

<h3>Presenting</h3>
<p>From internal tech talks, to conferences, to company wide pitches.</p>

<%= image_tag 'images/IMG_6861.jpg', :alt =>'Revealing a new design direction to the company.', :class => 'caption' %>
<p class="caption">Revealing the company's new design direction after many weeks of iterating with key stakeholders (CEO, CCO, Product Operations, Client Services, Engineering). (<%= link_to 'Download full size', 'images/IMG_6861.jpg' %>)</p>

<h3>Leading</h3>
<p>When design can't speak for itself, I do. </p>

<%= image_tag 'images/IMAG0769.jpg', :alt =>'Articulating design decisions with key stakeholders', :class => 'caption' %>
<p class="caption">Articulating design decisions with key stakeholders. (<%= link_to 'Download full size', 'images/IMAG0769.jpg' %>)</p>

<h3>Collaborating</h3>
<p>I regularly collaborate with executives, designers, and engineers.</p>

<%= image_tag 'images/8721720458_163bd6ae8d_o.jpg', :alt =>'Critiquing the latest prototype with an engineer on my team', :class => 'caption' %>
<p class="caption">Critiquing the latest prototype with an engineer on my team. (<%= link_to 'Download full size', 'images/8721720458_163bd6ae8d_o.jpg' %>)</p>

<p class="quote"><em>"I've gotten really positive feedback from the market and our board. Thank you for the great work!"</em> <br /><span>Aaron Kechley, SVP Products, DataXu</span></p>

<h1>Business Results</h1>
<p>The products I've worked on have gone on to help companies receive:</p>

<ul>
	<li>Acquisitions: <%= link_to 'CodeRyte -> 3M', 'http://news.3m.com/press-release/company/3m-acquires-coderyte-inc' %>, <%= link_to 'Affinnova -> Nielsen', 'http://www.nielsen.com/us/en/press-room/2014/nielsen-acquires-affinnova.html' %></li>
	<li><%= link_to 'Record sales', 'http://www.affinnova.com/press/affinnova-announces-record-sales/' %></li>
	<li><%= link_to 'Investments', 'http://infobionic.com/infobionic-raises-17m-series-b-financing-led-by-safeguard-scientifics/' %></li>
</ul>

<hr>

<p><%= mail_to 'hellostranger@ebenoit.com', 'Email hellostranger@ebenoit.com' %><br>
<%= link_to 'Github @ericbenwa', 'http://github.com/ericbenwa' %><br>
<%= link_to 'LinkedIn', 'http://www.linkedin.com/in/ericjbenoit' %><br>
<%= link_to 'Resume', 'files/Eric-Benoit-Designer-Resume.pdf' %><br>
<%= link_to 'Twitter @ebenoit', 'http://www.twitter.com/ebenoit' %></p>