---
title: Eric Benoit, Boston Product Designer
description: Eric Benoit is a Boston Product Designer trusted by CTO's, VP's, and Founders from Startups to Fortune 500 companies to guide their vision and design elegant products.
keywords: eric benoit, boston ui designer, boston ux designer, user interface designer, user experience designer, product designer, software designer, ui designer, ux designer
---

<h1>Eric Benoit</h1>
<h2>Creative Director</h2>

<%= image_tag 'images/eric-benoit-ux-designer.jpg', :alt =>'Eric Benoit Boston UX Designer' %>

<h1>Learn</h1>
<h2>The Domain</h2>
<p>I routinely work in domains of which I am not an expert but must quickly get up to speed. It’s important that I ground myself in the history of the domain, players in the field, lingo, and its future. In addition to traditional methods of learning, I connect with industry experts for 1-on-1 lessons.</p>

<%= image_tag 'images/rma-ny-clinic-ivf-training.jpg', :alt =>'Visit IVF Clinic', :class => 'caption' %>
<p class="caption">To better understand In Vitro Fertilization (IVF), I made an appointment with the mid-town clinic as a parent wanting to have a child through IVF.</p>

<h2>The Problem Space</h2>
<p>Throughout a project, I use a variety of methods to explore, understand, and codify complex problems.</p>

<p>Here are a few examples of the deliverables I create:</p>

<h3>Product Architecture</h3>
<p>A group exercise with key stakeholders for documenting the full set of functionality for a product. This helps the group understand and rally around a set of functionality. Arguments to be expected.</p>

<%= image_tag 'images/affinnova_prod_architecture.png', :alt =>'Product Architecture', :class => 'caption' %>
<p class="caption">Group exercise gets codified into a document. (Download full size)</p>

<%= image_tag 'images/affinnova_prodarch_stickies_table.jpg', :alt =>'Product Architecture Stickies', :class => 'caption' %>
<p class="caption">Leading the product architecture exercise for Affinnova.</p>

<h3>Process Map</h3>
<p>Mapping out the process of the service. This could map out all parts of the process, even if we’re not designing it, because we should know the entire lifecycle of a person using the service.</p>

<%= image_tag 'images/mountsinai_caas_process_v03.png', :alt =>'Mount Sinai Process Map', :class => 'caption' %>
<p class="caption">From a high-level, mapping out the process for managing electronic consent forms through a self-service model. (Download full size)</p>

<h3>System Model</h3>
<p>High-level architecting of the main components of the service, relationships, and actions.</p>

<%= image_tag 'images/mountsinai_caas_systemmodel_v01.png', :alt =>'Mount Sinai System Model', :class => 'caption' %>
<p class="caption">Figuring out how electronic consent forms will be authored, delivered, and used. (Download full size)</p>

<h3>Customer Research</h3>
<p>From understanding customer needs to vetting designs.</p>

<%= image_tag 'images/eric-benoit-customer-testing.jpg', :alt =>'Customer Testing Feedback Session', :class => 'caption' %>
<p class="caption">Leading a feedback session on the latest mobile prototype.</p>

<p class="quote"><em>"Excellent session last night. You made it clear where we are, what the holes are, and where some kinks still need to get worked out. Thanks for leading."</em> <br /><span>George Moon, VP of Product, CodeRyte Inc.</span></p>

<h1>Design</h1>

<h3>Sketches</h3>

<%= image_tag 'images/eric-benoit-wall-of-sketches.jpg', :alt =>'200+ sketches for a single project.', :class => 'caption' %>
<p class="caption">One project, ~8 months, 200+ sketches.</p>

<%= image_tag 'images/nlp-engine-codes-sketch.png', :alt =>'Workflow for NLP suggested codes.', :class => 'caption' %>
<p class="caption">Workflow for ICD codes suggested by the Natural Language Processing (NLP) engine.</p>

<%= image_tag 'images/IMG_3474.jpg', :alt =>'Sketch.', :class => 'caption' %>
<p class="caption">Concepts for managing the life of a project.</p>

<p class="quote"><em>"We are impressed with the design and enjoyed working with your team. Your creativity in the design has made us hungry for all the features."</em> <br /><span>Nancy Briefs, CEO, InfoBionic</span></p>

<h3>Hi-fidelity Comps</h3>

<%= image_tag 'images/infobionic-ipad-patient-dashboard.png', :alt =>'.', :class => 'caption' %>
<p class="caption">.</p>

<%= image_tag 'images/infobionic-all-patients-dashboard.png', :alt =>'.', :class => 'caption' %>
<p class="caption">.</p>

<h3>Working Documents</h3>

<%= image_tag 'images/artboard-ideas.png', :alt =>'.', :class => 'caption' %>
<p class="caption">An artboard with a compilation of ideas.</p>

<h1>Build</h1>

<h3>Mock Data</h3>
<p></p>

<%= image_tag 'images/mock-data.png', :alt =>'Mocking JSON data.', :class => 'caption' %>
<p class="caption">.</p>

<h1>Communicate</h1>

<h3>Presenting</h3>

<%= image_tag 'images/IMG_6861.jpg', :alt =>'.', :class => 'caption' %>
<p class="caption">.</p>

<p class="quote"><em>" I've gotten really positive feedback from the market and our board. Thank you for the great work!"</em> <br /><span>Aaron Kechley, SVP Products, DataXu</span></p>

<h1>Results</h1>

<p><%= mail_to 'hellostranger@ebenoit.com', 'Email hellostranger@ebenoit.com' %><br>
<%= link_to 'Github @ericbenwa', 'http://github.com/ericbenwa' %><br>
<%= link_to 'LinkedIn', 'http://www.linkedin.com/in/ericjbenoit' %><br>
<%= link_to 'Resume', 'files/Eric-Benoit-Designer-Resume.pdf' %><br>
<%= link_to 'Twitter @ebenoit', 'http://www.twitter.com/ebenoit' %></p>