---
title: Eric Benoit, Boston Product Designer
description: Eric Benoit is a Boston Product Designer trusted by CTO's, VP's, and Founders from Startups to Fortune 500 companies to guide their vision and design elegant products.
keywords: eric benoit, boston ui designer, boston ux designer, user interface designer, user experience designer, product designer, software designer, ui designer, ux designer
---

<h1>Howdy, I'm Eric Benoit, a Product Designer at <%= link_to 'Involution Studios', 'http://www.goinvo.com' %>, a software design studio in <%= link_to 'Arlington, Massachusetts', 'https://www.google.com/maps/place/661+Massachusetts+Ave/@42.4159556,-71.1542426,17z/data=!3m1!4b1!4m2!3m1!1s0x89e376507914ce3b:0xd3401d7136ceb9f3' %>.</h1>

<%= image_tag 'images/eric-benoit-ux-designer.jpg', :alt =>'Eric Benoit Boston UX Designer' %>

<p>I design delightful experiences for large-scale, complex, enterprise software that are destined to ship, and with a positive impact on Planet Earth.</p>

<p>I enjoy designing software for emerging technologies, working with the combination of hardware + software, and leading products through production.

</p>

<p>When designing, I collaborate with:</p>

<ul>
	<li>C-levels; to guide and provide vision while understanding the industry, business, and product.</li>
	<li>Customers; to learn about their behavior, goals, pain, and translate that into a product they'll enjoy.</li>
	<li>Engineers; to understand the technology, prototype concepts, and to guide design into code.</li>
</ul>

<p>I've designed healthcare software for:</p>

<ul>
	<li>Electrocardiography (<%= link_to 'Patent US8620418 B1', 'https://www.google.com/patents/US8620418' %>)</li>
	<li>Electronic Consent</li>
	<li><%= link_to 'Genetic Reporting', 'http://www.goinvo.com/healthcare/mount-sinai/' %></li>
	<li><%= link_to 'Hospital Coding', 'http://www.goinvo.com/healthcare/3m/' %></li>
	<li>In Vitro Fertilization</li>
	<li>Patient Health Records</li>
	<li>Telemedicine</li>
</ul>

<p>In my spare time I play hockey and tinker with micro-controllers like the <%= link_to 'Arduino', 'http://arduino.cc/' %> to build personal projects, one being <%= link_to 'Fitsor', 'http://www.fitsor.com' %>, a suite of exercise tracking devices.</p>

<p><%= mail_to 'hellostranger@ebenoit.com', 'Email hellostranger@ebenoit.com' %><br>
<%= link_to 'Github @ericbenwa', 'http://github.com/ericbenwa' %><br>
<%= link_to 'LinkedIn', 'http://www.linkedin.com/in/ericjbenoit' %><br>
<%= link_to 'Resume', 'files/Eric-Benoit-Designer-Resume.pdf' %><br>
<%= link_to 'Twitter @ebenoit', 'http://www.twitter.com/ebenoit' %></p>